# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/packages/angular-playground/dist/
/packages/angular-playground/build/
/src/**/*.ngfactory.ts
*.ngsummary.json
**/.idea/*

# dependencies
node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
/typings
/packages/angular-playground/output.json
/packages/angular-playground/sandboxes_modified.js

# e2e
/e2e/*.js
/e2e/*.map

# schematics
/packages/angular-playground/schematics/**/*.js
/packages/angular-playground/schematics/**/*.d.ts
/packages/angular-playground/schematics/**/*.map

#System Files
.DS_Store
Thumbs.db
/debug.log
